<div *ngFor="let class of post" class="group">
    <b>{{class.id}}: {{class.title}}</b> 
    <p>{{class.start}} to {{class.end}} <b>{{class.day}}</b></p>
</div>

<button (click)="isOpen1 = !isOpen1" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>Add Class
  </button>
  <form
    *ngIf="isOpen1"
    [formGroup]="form1"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit1(form1.value)"
    novalidate
  >
    <mat-form-field>
      <mat-label>Class</mat-label>
        <input matInput formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>StartTime (Format: 12:00AM)</mat-label>
      <input matInput formControlName="start" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>EndTime (Format: 12:00PM)</mat-label>
      <input matInput formControlName="end" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Day (Format MWF)</mat-label>
      <input matInput formControlName="day" />
    </mat-form-field>
    
    <button
      color="primary"
      [disabled]="!form1.valid"
      mat-raised-button
      type="submit"
    >
      <span>Add Class</span>
    </button>
  </form>

  <!--<button (click)="isOpen2 = !isOpen2" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>Remove Class
  </button>
  <form
    *ngIf="isOpen2"
    [formGroup]="form2"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit2(form2.value)"
    novalidate
  >
    <mat-form-field>
      <mat-label>Enter ID (code before class name)</mat-label>
        <input matInput formControlName="id"/>
    </mat-form-field>
    
    <button
      color="primary"
      [disabled]="!form2.valid"
      mat-raised-button
      type="submit"
    >
      <span>Remove Class</span>
    </button>
  </form>-->