<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>


</head>
<br>

<img src="assets\imgs\NewCollegeLogo.jpg" alt="">

<body>
    <br>
    <!-- Header -->
    <h1><b> New College of Florida Resources: HAM, WRC, QRC, CEO, Library</b></h1>

    <hr>


    <div class="pageContent">
        <div>
            <h2>HAM Hours</h2>
            <p> The Hamilton Cafe is a staple of New College dining.
                <br> Here you will find a variety of all-you-care-to-eat. Indcluding:
            </p>

            <ul>
                <li> Homestyle favorites at Main Plate </li>
                <li>Grilled delights at J. Clark's Grille </li>
                <li>Fresh made pizza at Villa Toscana </li>
                <li>Options for vegan and vegetarians, plus gluten-free options </li>
                <li>Local favorites, and much more </li>


            </ul>

            <p>HOURS OF OPERATION:</p>

            <ul>
                <li> Breakfast: Monday - Friday | 8:00am - 10:00am </li>
                <li>Lunch: Monday - Friday | 11:00 </li>
                <li> Dinner: Monday - Friday | 4:30 - 7:00 p.m. </li>
                <li>Saturday & Sunday | 4:30 - 6:30 p.m. </li>
                <li>Brunch: Saturday &
                    Sunday | 11:00 a.m. - 1:00 p.m.</li>
            </ul>


            <h4><a href="https://www.metznewcollege.com/cafe.html" target="_blank">HAM</a></h4>
        </div>
        <div class="CampusMap">
            <img src="assets\imgs\CampusMap.jpg" width="700" height="500" />
        </div>
    </div>


    <hr>
    <div>

        <h2>Writing Resource Center</h2>

        <p>The Writing Resource Center (WRC) serves the students, staff,
            and faculty of New College of Florida, offering direct support for any type of writing at any stage in the
            writing process.</p>

        <h4><a href="https://www.ncf.edu/academics/writing-program/writing-resource-center/" target="_blank">WRC</a>
        </h4>
        <p><small>Email Address</small></p>
        <a href="mailto:writing@ncf.edu.">ncf.edu/wrc.</a>
    </div>


    <hr>
    <br>
    <div>

        <h2>Quantitative Resource Center (QRC)</h2>

        <p>The Quantitative Resource Center (QRC) is dedicated to aiding the New College community in working with
            quantitative matters. It provides individual and small group peer tutoring for students in Chemistry,
            Mathematics, Physics, Statistics, Computer Science, Economics, and Biology. Peer tutoring services also
            support
            students needing assistance with various quantitative methods (e.g. basic mathematics and statistics, R,
            SAS,
            SPSS, Excel, and other applications).</p>

        <h4><a href="https://www.ncf.edu/departments/quantitative-resource-center/" target="_blank">QRC</a></h4>
        <p><small>Email Address</small></p>
        <a href="mailto:ncf.edu/qrc.">ncf.edu/qrc.</a>
    </div>

    <hr>
    <br>

    <div>
        <h2>CEO</h2>
        <p>Office Hours Monday - Friday 8am - 5pm</p>

        <p><small>Email Address</small></p>
        <a href="mailto:ceo@ncf.edu">ceo@ncf.edu</a>

    </div>


    <hr>
    <br>

    <div>

        <h2>Library</h2>

        <p>Spring Hours – January 7th– May 19th <br>
            Monday-Wednesday 8am-1am <br>
            Thursday 8am-11pm <br>
            Friday 8am-5pm <br>
            Saturday Noon-6pm <br>
            Sunday Noon-1am

            Closed – MLK Jr. Day Monday, January 16, 2023</p>
        <h4><a href="https://www.ncf.edu/library/" target="_blank">Library</a></h4>
        <p><small>Email Address</small></p>
        <a href="mailto:library@ncf.edu">library@ncf.edu.</a>

    </div>

    <hr>
    <br>

    <div>
        <p>Email us if you have any questions</p>
        <a href="mailto:s.mark23@ncf.edu"> cheesecake.cats28@gmail.com</a>
        <br>
        <br>
    </div>

    <div>
        <nav>
            <br>

        </nav>
    </div>
    <nav>
        <ul>
            <li><a href="resources.html">Main Menu</a></li>
            <li><a href="timer">Timer Page</a></li>
            <li><a href="resources">Top Page</a></li>
            <li><a href="https://google.com" target="_blank">Google</a></li>
        </ul>
    </nav>






    <div style="margin-bottom: 50px;"></div>
    <br>
    <footer>
        <p>Copyright &copy; 2023 cheesecake-cat</p>
    </footer>

</body>

</html>
