<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <style>
        em{
            color: red;
            font-style: normal;
        }
    </style>
</head>
<body>
    <h1>
         New College of Florida Resources: HAM, QRC, Library
    </h1>
    <h2>
        Ham Hours
    </h2>
    <p>HOURS OF OPERATION: Monday through Friday 8:00am to 10:00am</p>
    
    <h3><a href="https://www.metznewcollege.com/cafe.html">HAM</a></h3>
    <p></p>
   
    <h2>Quantitative Resource Center (QRC)</h2>
    <p>The Quantitative Resource Center (QRC) is dedicated to aiding the New College community in working with quantitative matters. It provides individual and small group peer tutoring for students in Chemistry, Mathematics, Physics, Statistics, Computer Science, Economics, and Biology. Peer tutoring services also support students needing assistance with various quantitative methods (e.g. basic mathematics and statistics, R, SAS, SPSS, Excel, and other applications).</p>
    <h4><a href="https://www.ncf.edu/departments/quantitative-resource-center/" target="_blank">QRC</a></h4> 
    <a href="mailto:ncf.edu/qrc.">ncf.edu/qrc.</a> <p></p>
    
   <p></p>
   
   <h2>CEO</h2>
    <p>Office Hours M - F 8 - 5</p>

 <a href="mailto:ceo@ncf.edu">ceo@ncf.edu</a>

 <p></p>
   
    
   <h2>Library</h2>
    
    <p>Spring Hours – January 7th– May 19th
        Monday-Wednesday 8am-1am
        Thursday 8am-11pm
        Friday 8am-5pm
        Saturday Noon-6pm
        Sunday Noon-1am
        
        Closed – MLK Jr. Day Monday, January 16, 2023</p>
    <h4><a href="https://www.ncf.edu/library/" target="_blank">Library</a></h4>
    <a href="mailto:ncf.edu/qrc.">library@ncf.edu.</a> <p></p>
   
    <h3>Additional resources  <a href="https://google.com" target="_blank">Google</a></h3>
    <a href="mailto:s.mark23@ncf.edu">Email cheesecake-cat if you have any questions</a> <p></p>
    <a href="../next_page/">Main Menu</a>
        <p></p>
</body>
</html>
<em> </em>