
<div class="slideshow-container">

    <div class="mySlidesfade">
        <img class="img" src="assets\imgs\meme-1.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-2.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-3.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-4.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-5.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-6.jpg" alt="Loading" >
    </div>
    <div class="mySlidesfade">
        <img class="img"  src="assets\imgs\meme-7.jpg" alt="Loading" >
    </div>

</div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span> 
  <span class="dot"></span>
</div>
