#cover{
    width: 100%;
    z-index: 1;
    background-color: pink;
}

.cute{
    width: 100%;
    height: 200px;
}
#top{
    height: 250px;
}
.cutebird{
    height: 250px;
    width: 25%;
}

.cutepink{
    width: 50%;
    height: 222px;

}
