<div class="cute" id="top">
<img class="cutebird" id="cute-bird1" src="assets\imgs\cute-brd1.jpg" alt="Can't load">
<img class="cutebird"   id="cute-bird4" src="assets\imgs\cute-brd4.jpg" alt="Can't load">
<img class="cutebird" id="cute-bird3" src="assets\imgs\cute-brd3.jpg" alt="Can't load">
<img class="cutebird" id="cute-bird2" src="assets\imgs\cute-brd2.jpg" alt="Can't load">
</div>
<div class="page" id="cover">
    <app-timer-part id="timer"></app-timer-part>
</div>

<div class="cute" id="bottom">
    <img class="cutepink" id="cute-bun" src="assets\imgs\cute-bun.jpg" alt="Can't load">
    <img class="cutepink" id="cute-dino" src="assets\imgs\cute-dino.jpg" alt="Can't load">
</div>
