<div class="banner">
    <h3>Remember to take breaks when working! Maybe go for a walk!</h3>
</div>
<div class="group"> 
    <div  class="class" ><b>    CLASSES:</b>
        <app-class-todo></app-class-todo>
    </div>
    <div  class="job" ><b>  JOBS:</b>
        <app-job-todo></app-job-todo>
    </div>
    <div  class="thesis" ><b>  THESES:</b>
        <app-thesis-todo></app-thesis-todo>
    </div>
</div>
<div class="calendar" id="cal">
    <div class="aca">
        <b><h1>ACADEMIC CALENDAR</h1></b>
    </div>  
    <app-scheduler-comp> Calendar</app-scheduler-comp>
    <div class = "notif">
        <p><b>REMEMBER HAM IS OPEN FROM:</b><br>
        Monday to Friday: 8-10AM  11AM-2PM 4:30-7PM<br>
        Saturday to Sunday: 11AM-1PM  4:30PM-6:30PM</p>
    </div>
</div>
        
   
    
            
