.calendar{
    display: flex;
    float: right;
    width: 80%;
    flex-direction: column;
}

.group{  
    width: 20%;
    float: left;
    margin: auto;
    background-color: lightblue;
    padding: 15px;
    margin-top: 12px;
    
}