
.calendar{
    display: flex;
    float: right;
    width: 70%;
    flex-direction: column;
    background-color: lightcyan;
    text-align: center;
}

.items{
    float: left;
    width: 20%;
}

.btn{  
    margin-top: 40px;
    width: 70%;  
    //height: 100px;
    background-color: rgb(82, 87, 87);
    //color: white;
    
}

.group {
    width: 29%;
    float: left;
    margin:auto;
    background: lightblue;
    padding: 15px;
    margin-top:12px;

    border: 1px solid transparent;
    background-color: #8d75cf;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;
    
}

.class{
    background: lightgreen;
}
.job{
    background: lightpink;
}
.thesis{
    background: lightyellow;
}


.group:hover{
    background: transparent;
    color: black;
    border: 1px solid black;
}

