
.calendar{
    display: flex;
    float: right;
    width: 70%;
    flex-direction: column;
    background-color: lightcyan;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;

}
.items{
    float: left;
    width: 20%;
}

.group {
    width: 29%;
    float: left;
    margin:auto;
    background: lightblue;
    padding: 15px;
    margin-top:12px;
    border: 2px solid black/*transparent*/;
    background-color: #8d75cf;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;
}
.group:hover{
    //background: transparent;
    color: black;
    border: 3px solid black;
}

.class{
    background: lightgreen;
}
.job{
    background: lightpink;
}
.thesis{
    background: lightyellow;
}

.banner{
    background-color: darkgrey;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
.notif{
    border-top: 2px solid black;
}
.aca{
    border-bottom: 2px solid black;
}

/*.btn{  
    margin-top: 40px;
    width: 70%;  
    //height: 100px;
    background-color: rgb(82, 87, 87);
    //color: white;
    
}*/

