<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>


</head>
<br>

<div id="myDiv">
    <img src="assets\imgs\Kayak.jpg" width="200" height="200" />
</div>


<body>
    <br>
    <!-- Header -->
    <h1><b> Kayaking</b></h1>

    <hr>


    <div class="pageContent">
        <div>
            <h2>Hours</h2>


            <p>Tuesday through Sunday 12pm - 5p <br>closed Monday </p>

            <h2>Boathouse Hours:</h2>

            <ul>
                <li>Tuesday: 12pm to 5pm</li>
                <li>Wednesday: 12pm to 5pm </li>
                <li>Friday: 12pm to 5pm </li>
                <li>Saturday: 12pm to 5pm</li>
                <li>Sunday: 12pm to 5pm</li>
            </ul>

            <h2>Location:</h2>
            <a
                href="https://www.google.com/maps/place/New+College+of+Florida+Waterfront/@27.3806654,-82.5631708,17z/data=!4m15!1m8!3m7!1s0x88c33fdf4af516b5:0x461a24d8c745a1b9!2s5313+Bay+Shore+Rd,+Sarasota,+FL+34243!3b1!8m2!3d27.3804705!4d-82.5602657!16s%2Fg%2F11bw4j92rc!3m5!1s0x88c31561894464e3:0xde989f12a19c49a7!8m2!3d27.3805199!4d-82.5636094!16s%2Fg%2F11c0rvj3zj">
                New College of Florida Waterfront Google Map</a>
        </div>
        <div class="CampusMap">
            <img src="assets\imgs\kayakPlace.jpg" width="600" height="400
            00" />
        </div>
    </div>
    <hr>
    <br>
    <br>

    <div>
        <p>Email us if you have any questions</p>
        <a href="mailto:s.mark23@ncf.edu"> cheesecake.cats28@gmail.com</a>
        <br>
        <br>
    </div>

    <div>
        <nav>
            <br>

        </nav>
    </div>
    <nav>
        <ul>
            <li><a href="resources.html">Main Menu</a></li>
            <li><a href="timer">Timer Page</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="https://google.com" target="_blank">Google</a></li>
        </ul>
    </nav>


    <div style="margin-bottom: 50px;"></div>
    <br>
    <footer>
        <p>Copyright &copy; 2023 cheesecake-cat</p>
    </footer>

</body>

</html>